@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fruits-category::-webkit-scrollbar {
  width: 0;
}

@media (min-width:1260px) {
  .header-4{
    display: none;
  }
}

@media (max-width:1260px) {
  .header-1{
    display: none;
  }

  .header-2{
    display: none;
  }

  .header-3{
    display: none;
  }

  .header-4{
    display: block;
  }
}