body 
{
    margin: 0;
    padding: 0;
}
.header 
{
    width: 100%;
    height: 10vh;
    position: fixed;
}

#sidebar
{
    width: 20%;
    height: 100vh;

}

#sidebar li 
{
    display: block;
    color: black;
    padding: 15px 35px;
    text-decoration: none;
}
#sidebar a 
{
    color: white;
    text-decoration: none;
    list-style-type: none;
}
#sidebar .active 
{
 animation: slide-in 0.3s ease-in-out;
}
#sidebar:not(.active)
{
    animation: slide-out 0.3s ease-in-out forwards;
}

@keyframes slide-in 
{
    0%
    {
     transform: translateX(-100%) !important;
    }
    100% 
    {
        
     transform: translateX(0) !important;

    }

}


@keyframes slide-out 
{
    
    0%
    {
     transform: translateX(0);
    }
    100% 
    {
        
     transform: translateX(-100%);

    }

}